@*<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <
</head>
<body>
    @RenderBody()
</body>
</html>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") *@
</head>
<body>
    <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>-->
    @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
    <!--</ul>
            </div>
        </div>
    </nav>-->

    <div class="sitepagetopblueLine"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 toplogoandgreentext">
                <img class="toplogo" src="~/Content/Images/sitetoplogo.png" />
                <p class="sitetopbargreen">Nawaloka Hospitals PLC</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">@RenderBody()</div>
            <div class="col-sm-2"></div>
        </div>

        @*<hr />*@
        @*<footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @*  @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") *@
    @RenderSection("scripts", required: false)
</body>
</html>
